@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.text-main {
    color: #372c34;
}
header {
  line-height: 4;
}
.nav-item {
  color: white;
  font-weight: 700;
  transition: opacity .3s ease-in-out;
  &:hover,
  &.active {
    opacity: .5;
  }
}
section#hero {
  background-image: url('/img/bg.png');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
// .text-xl {
//   font-size: 4rem;
// }
// .text-2lg {
//   font-size: 2rem;
// }
.main-title {
  text-align: center;
  margin-bottom: 5rem;
  h1 {
    font-size: 3rem;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: .6rem;
    &::before {
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 2px;
      width: 100px;
      content: "";
      background: #777777;
      margin-left: -50px;
    }
    &::after {
      position: absolute;
      left: 50%;
      bottom: -4px;
      height: 10px;
      width: 10px;
      content: "";
      background: #777777;
      margin-left: -5px;
      border-radius: 50%;
    }
  }
  &.two {
    text-align: left;
    h1 {
      &::before {
        left: 0;
      margin-left: 0px;
      }
      &::after {
        position: absolute;
        left: 0;
      }
    }
  }

  p {
    font-size: 15px;
    line-height: 26px;
    color: #777777;
    margin-bottom: 0px;
    margin: auto;
  }
}
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}
section + section {
  margin-top: 8rem;
}
.works-filter {
  background: #777777;
}
.list-item {
  display: inline-block;
  margin-right: 3rem;
  &:last-child {
    margin-right: 0;
  }
}
.filter.list {
  &::after {
    position: absolute;
    left: 2%;
    bottom: -10px;
    height: 100%;
    width: 96%;
    content: "";
    background: #77777750;
    z-index: -1;
  }
}
.work-item {
  .work-overlay {
    height: 0;
    transition: height .3s ease-in-out;
  }
  &:hover {
    .work-overlay {
      height: 100%;
      background: #77777790;
    }
  }
}
.bg-dark {
  background-color: #777777;
}

.progress {
  background-color: #77777720;
  line-height: 1em;
  border-radius: 50px;
  position: relative;
  height: 6px;
}
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: inherit;
  transition: width .3s ease-in-out;
}
.my-layouts-enter-active,
.my-layouts-leave-active {
  transition: opacity 0.2s;
}
.my-layouts-enter,
.my-layouts-leave-active {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
  transition: transform .3s ease-in-out;
}
.scale-enter,
.scale-leave-active {
  transform: scale(0);
}
.nav-container {
  height: auto;
  transition: all .3s ease-in-out;
}
header {
  background-color: #777777;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #777;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 767px) { 
  .nav-container {
    height: 0;
    overflow-y: hidden;
    background-color: #777777;
    &.active {
      height: 400px;
      overflow-y: auto;
    }
  }
}